/text-api
/api-gateway
.qodo
business-registered/node_modules
kafka/node_modules
search-logs/node_modules
send-email/node_modules
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production